<h1 style="text-align:center;color:white;background-color:red;mt-3">Book Details</h1>


<div class="book-index-grid d-flex mt-3">
  <% @book.each do |book| %>


  <div class="card mx-2 " style="width: 18rem;">
  <%= image_tag book.image, :size=>"287x400" if book.image.attached? %>
    <div class="card-body">
       <h5 class="card-title"><b>Book Name :-  </b><%= link_to book.book_name, book %></h5>
       <p class="card-text"><b>Published Date :- </b> <%= book.published_date %></p>
       
       
       <%= link_to 'Edit Book', edit_book_path(book), class: "btn btn-warning" %>
       <%= link_to "Delete Book", book_path(book), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } ,class: "btn btn-danger "%>
    </div>
  </div>

     <% end %>


</div>







